{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портал государственных услуг Российской Федерации</title>
    <link rel="stylesheet" href="{% static 'css/vaccinePageCss.css' %}" type="text/css" />
</head>
<body>

    <div class="content">
        <div class="header">
            <div class="header__logo"><a href="">ГОСУСЛУГИ</a></div>
            <div class="header__change-language">
                <div class="language">
                    <div class="language-icon"></div>
                    <span>RUS</span></div>
            </div>
        </div>
        <div class="sertificate-block">
            <div class="sertificate-block__title">Сертификат COVID-19</div>
            <div class="sertificate-block__status">Действителен</div>
            <div class="sertificate-block__vaccine-id">№ {{ vaccine_id }}</div>
        </div>
        <div class="valid-time">
            <div class="valid-time__until">Действует до: {{ valid_until }}</div>
        </div>
        <div class="person-data">
            <div class="person-data__name">{{ full_name.first_name }} {{ full_name.middle_name }}  {{ full_name.last_name }}</div>
            <div class="person-data__birthday"><span>Дата рождения:</span> {{ date_birthday }}</div>
            <div class="person-data__passport"><span>Паспорт:</span> {{ passport.serial }} {{ passport.number }}</div>
        </div>
        <div class="close-btn">
            <a href="">Закрыть</a>
        </div>
    </div>
</body>
</html>