{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портал государственных услуг Российской Федерации</title>
    <link rel="stylesheet" href="{% static 'css/vaccinePageCss.css' %}" type="text/css" />
</head>
<body>
    {{ vaccine_id }} <br>
    {{ valid_until }} <br>
    {{ full_name.first_name }} {{ full_name.middle_name }}  {{ full_name.last_name }} <br>
    {{ date_birthday }} <br>
    {{ passport.serial }} {{ passport.number }} <br>
</body>
</html>